name: Speaker

on:
  workflow_dispatch:
  push:
    paths:
      - 'deploy/dev.yml'
      - 'deploy/prod.yml'
      - 'src/**'
      - 'build.gradle.kts'
      - '.github/workflows/speaker.yml'
      - 'Dockerfile'
    branches:
      - main

jobs:
  build:
    permissions:
      contents: "read"
      id-token: "write"
    name: Bygg
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Test og bygg
        run: ./gradlew build
        env:
          ORG_GRADLE_PROJECT_githubUser: x-access-token
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}

      - name: Lag Docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: tbd
          dockerfile: Dockerfile
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deployDev:
    permissions:
      id-token: write
    name: deploy to dev
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev.yml
          IMAGE: ${{ needs.build.outputs.image }}

  deployProd:
    permissions:
      id-token: write
    name: deploy to prod
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: deploy/prod.yml
          IMAGE: ${{ needs.build.outputs.image }}
